<template>
  <q-page padding>
    <!-- <PerkViewer/> -->
    <ViewCarousel />
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
//import PerkViewer from 'components/PerkViewer.vue'
import ViewCarousel from 'components/ViewCarousel.vue'
export default defineComponent({
  name: 'Builder',
  
  components: {
//    PerkViewer
    ViewCarousel
  }
  
})
</script>
