<template>
  <q-page class="flex flex-center">
    
    <q-btn 
      outline 
      to="Builder"
      @click="navigatePage"
      color="blue-grey-4"
      label="Celestial Builder"
    /> 
        
    <q-img
      alt="forgemaster dot jpeg"
      src="~assets/forgemaster.jpeg"
      fit="scale-down"
    />

  </q-page>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PageIndex',
  setup () {
    function navigatePage (e, go) {
      e.preventDefault() //delay page load
      console.log('triggering navigation is 2s')
      setTimeout(() => {
      console.log('navigating')
        go()
      }, 2000)
    }
    return {
//      btn_one: "Forge",
      navigatePage
    }
  }
})
</script>
