<template>
  <div>
    <q-item clickable v-ripple dark>
      <q-item-section>
        <q-item-label lines=3>{{title}}</q-item-label>
        <q-item-label caption>{{domain}}</q-item-label>
      </q-item-section>
      <q-item-section side top>
        <q-item-label>{{id}}</q-item-label>
      </q-item-section>
    </q-item>
  </div>
</template>

<script>


export default {
  name: 'Perk',
  data() {
    return {
    }
  },
  props: {
    title: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    cost: {
      type: Number,
      required: true
    },
    domain: {
      type: String,
      required: true
    }
  },
  setup () {
    return {}
  }
}
</script>
