<template>
<!-- store pattern, centralized state management
 for inter-component shared data -->
  <div> </div>
</template>

<script>
  import  { reactive } from 'vue'
  const perkList = require('src/data/cf-data.json');

  const store = {
    debug: true,
    
    state: reactive({
      displayValue: {
        "domain": "One of twelve clusters of conceptually similar perks",
        "id": "Unique perk reference, format: domain#(.)perk#",
        "title": "Selected perk title (currently none)",
        "source": "Media property from which perk originates",
        "cost": "Perk value in creation points, abbreviated",
        "description": "General, functional perk definition"
      },
      unfiltered: perkList,
      filtered: [],
      build: [],
      searchString: 'Tool'
    }),
    
    setDisplayValue (newValue) {
      if (this.debug) {
        console.log('store.setDisplayValue called with', newValue)
      }
      
      this.state.displayValue = newValue
    },
    
    clearDisplayValue () {
      if (this.debug) { 
        console.log('store.clearDisplayValue called with', newValue)
      }
      
      this.state.displayValue = newValue  
    },
    
    addToBuild (newValue) {
      if (this.debug) { 
        console.log('store.addToBuild called with', newValue)
      }
      this.state.build.push(newValue)
    },
    
    fetchDisplayList (slide) {
      if (slide == 0) {
        return this.state.unfiltered
      } else {
        return this.state.build
      }
    },
    setSearchString (newString) {
      this.state.searchString = newString
      console.log("Store ", newString)
    }
  }

  export default {
    name: 'store',
    state: store.state,
    setDisplay: store.setDisplayValue,
    clearDisplay: store.clearDisplayValue,
    addPerk: store.addToBuild,
    fetchDisplayList: store.fetchDisplayList,
    setSearchString: store.setSearchString
  }
</script>
