<template>
  <div>
    <q-carousel
        v-model="slide"
        transition-prev="scale"
        transition-next="scale"
        dark
        animated
        control-color="white"
        navigation
        arrows
        height ="1000px"
    >
      <q-carousel-slide
        name="slideZero"
      >
        <div>
          {{ firstSlideTitle }}
        </div>
        <PerkViewer
          :onSlide="0"
        /> 
      </q-carousel-slide>
      <q-carousel-slide name="slideOne">
        <div>
          {{ secondSlideTitle }}
        </div>
        <PerkViewer
          :onSlide="1"
        />
      </q-carousel-slide>
      
    </q-carousel>
  </div>
</template>

<script>
import PerkViewer from 'components/PerkViewer.vue'
//import Store from 'src/data/Store.js'

export default {
  name: 'ViewCarousel',
  data () {
    return {
      slide: 'slideZero',
      firstSlideTitle: 'Perk Selector',
      secondSlideTitle: 'Current Build'
    }  
  }, 
  components: {
    PerkViewer
  },
  setup () {
    return {

    }
  }
}
</script>
